{% if networking.dns.search %}
{% for search in networking.dns.search %}
search {{ search }}
domain {{ search }}
{% endfor %}
{% endif %}

{% for nameserver in networking.dns.nameservers %}
nameserver {{ nameserver }}
{% endfor %}