#
#

{% if network.dns.search %}
search {{ network.dns.search }}
{% endif %}

{% if network.dns.search %}
domain {{ networking.dns.search }}
{% endif %}

{% for nameserver in networking.dns.nameservers %}
nameserver {{ nameserver }}
{% endfor %}